---
---

@import "{{ site.theme }}";

// I prefer the layout of the Cayman theme, but the colors of Slate.

body {
  color: #373737;
}

a {
  color: #007edf;
}

.btn {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.8);
  
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.9);
  }
}

.page-header {
  color: #fff;
  background: #000;
  background-image: url('../../images/Furcifer-pardalis.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}
